{%load static%}
{% block content %}
<section id="about" class="py-5 ">
  <div class="container d-flex justify-content-around ">

    <div class="col-md-5 bg-dark p-5 border-1 rounded-4">
      
      <!-- About Content -->
      <div class=" align-items-center">
        <h1 class="text-light text-center">About Me</h1>
        <br>
        <br>
        <p class="lead text-light">
          Hi, I'm <strong>Roshan</strong>, a passionate Django Developer who loves creating 
          modern, responsive, and efficient web applications. I enjoy solving problems, 
          learning new technologies, and building projects that make an impact.
        </p>

        <p class="high text-light">
          My expertise lies in <strong>Python, Django, Bootstrap, and JavaScript</strong>. 
          I'm also exploring frontend animations with <strong>GSAP</strong> to make 
          websites more interactive.
        </p>

      </div>
    </div>

    <div class="col-md-6 ">

      <h1 class=" text-light text-center"> Education</h1>
      <br>
      <div class=" my-5 ed">
        <h3 >High School Examination  - 2020</h3>
        <h6 >St George High School Indore </h6>
      </div>
      <div class=" my-5 ed">
        <h3>Higher Secondry School Examination  - 2022</h3>
        <h6>St George High School Indore </h6>
      </div>

      <div class="my-5 ed">
        <h3>Bachelor Of Technology   2022-2026</h3>
        <h6>Shri Vaishnav Vidhyapeeth Vishwavidhyalay Indore  </h6>
      </div>

    </div>

















    </div>
   
  </div>

  <br>
  <br>
  <br>
  <h2 class="text-center text-light">Techstack</h2>
  


  <div class=" container d-flex justify-content-around my-5 flex-wrap Tech" >

    
     
   
    <i class="devicon-html5-plain colored techstack" style="font-size:60px;"></i>
    <i class="devicon-css3-plain colored techstack" style="font-size:60px;"></i>
    <i class="devicon-javascript-plain colored techstack" style="font-size:60px;"></i>
    <i class="devicon-react-original colored techstack" style="font-size:60px;"></i>
    <i class="devicon-c-original colored techstack" style="font-size:60px;"></i>

  <!-- C++ -->
  <i class="devicon-cplusplus-plain colored techstack" style="font-size:60px;"></i>
  <!-- Backend -->
  <i class="devicon-python-plain techstack " style="font-size:60px; color: blue;"></i>
  <i class="devicon-django-plain colored techstack" style="font-size:60px; color: green;"></i>
  

  <!-- Database -->
  <i class="devicon-mysql-plain colored techstack" style="font-size:60px;"></i>
  

  <!-- Tools -->

  <i class="devicon-github-original colored techstack" style="font-size:60px; color: aliceblue;"></i>
</div>
  
    


  </div>
</section>
{% endblock %}