{% load static %}

<section id="certificate">
  <div class="container ">
    <div class="text-center mb-5">
      <h2 class="fw-bold  text-light">📜 Certifications</h2>
      <p class="text-light">Here are some of the certifications I’ve earned</p>
    </div>

    <div class="row g-5">
      <!-- Certificate 1 -->
      <div class="col-md-3 my-5 card-hover  ">
        <div class="card shadow-sm h-100  ">
          <img src="{% static 'images/python.png'%}" class="card-img-top" alt="Python Certification">
          <div class="card-body">
            <h5 class="card-title text-light ">Python for Beginners</h5>
            <p class="card-text text-light">Simplilearn</p>
          </div>
          <div class="card-footer border-0">
            <a href="{% static 'images/python.png' %}" data-lightbox="roadtrip" data-title="Python Developer Certificate">
              <button class="btn btn-outline-light">View Certificate</button>
            </a>
          </div>
        </div>
      </div>

      <!-- Certificate 5 -->
      <div class="col-md-3 my-5 card-hover ">
        <div class="card shadow-sm h-100  ">
          <img src="{% static 'images/tcsion.png' %}" class="card-img-top" alt="JavaScript Certification">
          <div class="card-body">
            <h5 class="card-title text-light ">Career-Edge Young Professional </h5>
            <p class="card-text text-light">TCS ION</p>
          </div>
          <div class="card-footer border-0">
            <a href="{% static 'images/tcsion.png' %}" data-lightbox="certificates" data-title="Python Developer Certificate">
              <button class="btn btn-outline-light">View Certificate</button>
            </a>
          </div>
        </div>
      </div>

      <!-- Certificate 2 -->
      <div class="col-md-3 my-5 card-hover">
        <div class="card shadow-sm h-100 border-1">
          <img src="{% static 'images/django.png'%}" class="card-img-top" alt="Django Certification">
          <div class="card-body">
            <h5 class="card-title text-light ">Django Web Development</h5>
            <p class="card-text text-light">Geek foe Geeks</p>
          </div>
          <div class="card-footer border-1">
            <a href="{% static 'images/django.png' %}" data-lightbox="certificates" data-title="Python Developer Certificate">
              <button class="btn btn-outline-light">View Certificate</button>
            </a>
          </div>
        </div>
      </div>

     


       <!-- Certificate 4 -->
       <div class="col-md-3 my-5 card-hover">
        <div class="card shadow-sm h-100 border-1">
          <img src="{% static 'images/c.png' %}" class="card-img-top" alt="JavaScript Certification">
          <div class="card-body">
            <h5 class="card-title text-light fw-bold">Problem Solving Through C</h5>
            <p class="card-text text-light">NPTEL</p>
          </div>
          <div class="card-footer  border-1">
            <a href="{% static 'images/c.png' %}" data-lightbox="certificates" data-title="Python Developer Certificate">
              <button class="btn btn-outline-light">View Certificate</button>
            </a>
            
          </div>
        </div>
      </div>

       
      













    </div>
  </div>


</section>