{% load static %}


<nav class="navbar navbar-expand-lg position-relative   animated-border hover-glow  "  >
 

  <div class="container">
  
    <button class="navbar-toggler "  data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon "></span>
    </button>

    <div class="collapse navbar-collapse " id="navbarNavAltMarkup">
      <div class="navbar-nav mx-auto bg-light my-4 rounded-4">
        <a class="nav-link mx-3" href="#">Home</a>
        <a class="nav-link mx-3" href="#about">About</a>
        <a class="nav-link mx-3" href="#project">Projects</a>
        <a class="nav-link mx-3" href="#certificate">Certificates</a>
        <a class="nav-link mx-3" href="#contact">Contact</a>

      </div>
    </div>
  </div>
</nav>
